.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.services div{
    width: 350px;
    background-color: wheat;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .services{
        grid-template-columns: repeat(1,1fr);
    }
    .services div{
        width: 300px;
    }
}