.inventoryDetails{
    width: 50%;
    margin:50px auto;
    border: 1px solid gray;
    padding: 0 20px 10px;
    border-radius: 5px;
}
.inventoryDetails span{
    font-weight: 700;
}
.inventoryDetails img{
    width: 50%;
    margin: 0 auto 20px;
    display: block;
}
.button {
    border: none;
    background-color: #1ABC9C;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .inventoryDetails{
        width: 90%;
    }
    .inventoryDetails img{
        width: 80%;
    }
}