.inventory{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.add-button{
    border: none;
    background-color: #1ABC9C;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
}

@media only screen and (max-width: 768px){
    .inventory{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}