.inventory{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media only screen and (max-width: 768px){
    .inventory{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}